<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
    <link rel="icon" href="/images/favicon.ico">

    <title>Four-US</title>

</head>

<body>
    <div class="row">
        <nav>
            <div class="nav-wrapper gradient-header">
                
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="left hide-on-med-and-down">
                    <li><a href="https://four-us.herokuapp.com/" class="logo left"><img src="logo.png" width="64px" height="64px" alt="Logo of people holding hands"></a>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a href="https://top3recommendations.herokuapp.com/profile" class="button-hover">NEED HELP</a>
                    </li>
                    <li><a href="https://top3recommendations.herokuapp.com/entrypage" class="button-hover">CAN HELP</a>
                    </li>
                    <li><a href="https://top3recommendations.herokuapp.com/rec/newrec" class="button-hover">MY HELP BUCKET</a></li>
                    <li><a href="https://top3recommendations.herokuapp.com/login/logout" class="button-hover">SIGN OUT</a></li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="https://top3recommendations.herokuapp.com/profile">NEED HELP</a></li>
            <li><a href="https://top3recommendations.herokuapp.com/entrypage">CAN HELP</a></li>
            <li><a href="https://top3recommendations.herokuapp.com/rec/newrec">MY HELP BUCKET</a></li>
            <li><a href="https://top3recommendations.herokuapp.com/login/logout">SIGN OUT</a></li>
        </ul>
    </div>
    {{{ body }}}
    <div class="row fixed-row-bottom">
        <div class="row footer">
            <p class="copyright">Copyright 2020, all rights reserved</p>
        </div>


    <div class="row fixed-row-bottom">
        <div class="row footer">
            <p class="copyright">Copyright 2020, all rights reserved</p>
        </div>
    </div>

    {{!-- <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/userRec.js"></script>
    <script src="/js/createRec.js"></script>
    <script src="/js/top3.js"></script>
    <script src="/js/text.js"></script>
    <script src="/js/button.js"></script> --}}

</body>
    <div class="row fixed-row-bottom">
        <div class="row footer">
            <p class="copyright">Copyright 2020, all rights reserved</p>
        </div>
    </div>

</html>