<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/global_style.css" type="text/css" />
	<title>Help for you - In tough times!</title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	{{!-- Mapquest --}}
	<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
	<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css" />

</head>



	
	{{!-- https://developers.facebook.com/docs/facebook-login/web --}}
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous"
		src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=231586884632895&autoLogAppEvents=1"></script>

	<div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" data-layout="rounded"
		data-auto-logout-link="true" data-use-continue-as="true"></div> --}}
{{!-- Bellow is where I will put any views that use this layout --}}
{{!-- Bellow is where I will put any views that use this layout --}}

{{!-- difference between 3 and 2 - 2}} - only text is output, render the html is 3}}} --}}

	{{{ body }}}

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="https://kit.fontawesome.com/257de25400.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/global.js"></script>
</body>

</html>