<script type="text/javascript">

    //https://stackoverflow.com/questions/3734559/change-cursor-when-loading-page
    // Set the cursor ASAP to "Wait"
    document.body.style.cursor = 'wait';

    // When the window has finished loading, set it back to default...
    window.onload = function () { document.body.style.cursor = 'default'; }
</script>

<div class="container">
    <form class="need-form">
        <table class="responsive-table" class="striped">
            <thead>
                <tr>
                    <th>
                        <h4>What is the need?</h4>
                    </th>
                    <th>
                        <h4>Who is asking?</h4>
                    </th>
                    <th>
                        <h4>From where?</h4>
                    </th>
                    <th>
                        <h4>To where?</h4>
                    </th>
                    <th>
                        <h4>Distance from you</h4>
                    </th>
                    <th>
                        <h4>Date created</h4>
                    </th>
                    <th>
                        <h4>Choice</h4>
                    </th>

                </tr>
            </thead>
            <tbody>
                {{#each tasks}}
                {{> c-block}}
                {{/each}}
            </tbody>

        </table>
    </form>
</div>