   <div class= "container">
    <form action="#" method="POST">
    <table class="responsive-table" class="striped">
        <thead>
          <tr>
              <th>What can I help you with? </th>
              <th>Address of Origin</th>
              <th>Destination Address</th>
              
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>Food pick-up and delivery </span>
              </label></td>
              <td><input type="text" name="bio" placeholder="type the address"></td>
              <td><input type="text" name="bio" placeholder="type the address"></td>
<td><input type="submit" class="submit-button colored-button" value="Submit"></th>
          </tr>
          <tr>
            <td><label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>Dog walk</span>
              </label></td>
              <td><input type="text" name="bio" placeholder="type the address"></td>
              <td><input type="text" name="bio" placeholder="type the address"></td>
              <td><input type="submit" class="submit-button colored-button" value="Submit"></th>
          </tr>
          <tr>
            <td><label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>Phone call - emotional support</span>
              </label></td>
              <td><input type="text" name="bio" placeholder="type the address"></td>
              <td><input type="text" name="bio" placeholder="type the address"></td>
              <td><input type="submit" class="submit-button colored-button" value="Submit"></th>
          </tr>

           <tr>
            <td><label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>Cooked meal delivery</span>
              </label></td>
              <td><input type="text" name="bio" placeholder="type the address"></td>
              <td><input type="text" name="bio" placeholder="type the address"></td>
              <td><input type="submit" class="submit-button colored-button" value="Submit"></th>
          </tr>
          <tr>
            <td><label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>Pharmacy pickup - no prescription</span>
              </label></td>
              <td><input type="text" name="bio" placeholder="type the address"></td>
              <td><input type="text" name="bio" placeholder="type the address"></td>
              <td><input type="submit" class="submit-button colored-button" value="Submit"></th>
           
          </tr>
           <tr>
            <td><label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>Other</span>
              </label></td>
              <td><input type="text" name="bio" placeholder="type the address"></td>
              <td><input type="text" name="bio" placeholder="type the address"></td>
              <td><input type="submit" class="submit-button colored-button" value="Submit"></th>
          </tr>

        </tbody>
      </table>
    </form>
</div>
</body>
  

