<div class="container">
    <form action="#" method="POST">
        <table class="responsive-table" class="striped">
            <thead>
                <tr>
                    <th>What I need help with </th>
                    <th>Address of Origin</th>
                    <th>Destination Address</th>

                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>

                        <p>
                            <label>
                                <input class="with-gap" name="group1" type="radio" checked />
                                <span>
                                    Pharmacy pickup - non-prescription
                                </span>
                            </label>
                        </p>

                        <p>
                            <label>
                                <input class="with-gap" name="group1" type="radio" />
                                <span>Bring a cooked meal</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input class="with-gap" name="group1" type="radio" />
                                <span>Groceries pickup and delivery</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input class="with-gap" name="group1" type="radio" />
                                <span>Get a phone call-emotional support</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input class="with-gap" name="group1" type="radio" />
                                <span>Walk the dog</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="group1" type="radio" disabled="disabled" />
                                <span>Other (not available)</span>
                            </label>
                        </p>

                    </td>
                    <td><input type="text" name="address1" placeholder="type the address"></td>
                    <td><input type="text" name="address2" placeholder="type the address"></td>
                </tr>
            </tbody>
        </table>
        <button class="btn waves-effect waves-light h4us-btn-float-right" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>