<div class="container">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div class="row">
    <header>
      <div class="row">
        <nav>
          <nav style="min-height: 300px">

            <div class="nav-wrapper gradient-header">
              <h2> {{name}}</h2>

              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="left hide-on-med-and-down">
                <li><a href="/" class="logo left"><img src="logo.jpg" width="300px" height="300px"
                      alt="Logo of people holding hands" class="circle responsive-img"></a>
              </ul>


              <ul class="right hide-on-med-and-down">
                <li><a href="/need-help" class="button-hover">NEED HELP</a>
                </li>
                <li><a href="/can-help" class="button-hover">CAN HELP</a>
                </li>
                <li><a href="/help-basket" class="button-hover">MY HELP BUCKET</a></li>
                <li><a href="/" class="button-hover">SIGN OUT</a></li>
              </ul>
            </div>
            {{!-- </nav> --}}
            <ul class="sidenav" id="mobile-demo">
              <li><a href="/need-help">NEED HELP</a></li>
              <li><a href="/can-help">CAN HELP</a></li>
              <li><a href="/help-basket">MY HELP BUCKET</a></li>
              <li><a href="/">SIGN OUT</a></li>
            </ul>

      </div>

      <div class="row"></div>
      <div class="col s12 s4 m3">
        <a href="/need-help"><img src="need-help.jpg" width="auto" height="100px" alt="a hand and I need help text"
            class="responsive-img"></a></div>

      <div class="col s12 s4 m3">
        <a href="/can-help"><img src="hand-heart.jpg" width="auto" height="100px" alt="a hand holding a heart"
            class="responsive-img"></a></div>


      <div class="col  s4 m3">
        <a href="/help-basket"><img src="help-basket.jpg" width="auto" height="100px" alt="basket with coming hearts inside"
            class="responsive-img"></a></div>
  </div>
</div>
</header>