<div class="container">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div class="row">
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="col s12 s1 m4">
      <a href="/need-help/?userId={{ currentUserId }}"><img src="need-help.jpg" width="auto" height="100px" alt="a hand and I need help text"
          class="responsive-img"></a>
    </div>

    <div class="col s12 s1 m4">
      <a href="/can-help/?userId={{ currentUserId }}"><img src="hand-heart.jpg" width="auto" height="100px" alt="a hand holding a heart"
          class="responsive-img"></a>
    </div>

    <div class="col s12 s1 m4">
      <a href="/help-basket/?userId={{ currentUserId }}"><img src="help-basket.jpg" width="auto" height="100px"
          alt="basket with coming hearts inside" class="responsive-img"></a>
    </div>

  </div>
</div>