<div class="container">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {{!-- <nav class="navbar-material">

    <div class="nav-wrapper">
      <div class="logo-only">
      <a href="#" class="logo right"><img src="logo.png" alt="Logo of people holding hands"></a>
      </a></div>
      <div class="a-only">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <li><a href="can-help.html">I can help</a>

        </li>
        <li><a href="need-help.html">I need help</a>

        </li>
        <li><a href="login.html">Login</a>

        </li>
        <li><a href="mobile.html">Mobile</a>

        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="can-help.html">I can help</a>

        </li>
        <li><a href="need-help.html">I need help</a>

        </li>
        <li><a href="login.html">Login</a>

        </li>
        <li><a href="mobile.html">Mobile</a>

        </li>
      </ul>
    </div>
  </nav> --}}
  {{!-- How to remove placeholder on left without changing the size of navbar?????? --}}
  {{!-- How to make navbar full width? --}}
  {{!-- Should logo go on the left? --}}

  <script>$(".button-collapse").sideNav();</script>
  
{{!-- <h1>{{title}}</h1> --}}
{{!-- <p>We need {{title}}</p> --}}

  <div class= "carousel">
    <div class="carousel-item">
      <img src="hand-green.PNG">
      {{!-- <h3>Asking for help</h3> --}}
    </div>
  </div>
</div>

 
 <script>
 
$(document).ready(function(){
    $('.carousel').carousel();
  });
</script>
  
 


