<div class="container">
    <form class="need-form">
        <table class="responsive-table" class="striped">
            <thead>
                <tr>
                    <th>
                        <h5>What I need help with </h5>
                    </th>
                    <th>
                        <h5>Address of Origin</h5>
                    </th>
                    <th>
                        <h5>Destination Address</h5>
                    </th>

                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <div id="needRadioSelection">
                            <p>
                                <label>
                                    <input class="with-gap" name="needTextOption" type="radio"
                                        value="Pharmacy pickup - non-prescription" checked />
                                    <span>
                                        Pharmacy pickup - non-prescription
                                    </span>
                                </label>
                            </p>

                            <p>
                                <label>
                                    <input class="with-gap" name="needTextOption" type="radio"
                                        value="Bring a cooked meal" />
                                    <span>Bring a cooked meal</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input class="with-gap" name="needTextOption" type="radio"
                                        value="Groceries pickup and delivery" />
                                    <span>Groceries pickup and delivery</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input class="with-gap" name="needTextOption" type="radio" value="Walk the dog" />
                                    <span>Walk the dog</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input name="needTextOption" type="radio" disabled="disabled" />
                                    <span>Household items</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input name="needTextOption" type="radio" disabled="disabled" />
                                    <span>Other (not available yet)</span>
                                </label>
                            </p>
                        </div>
                    </td>
                    <td><input type="text" id="needAddress1" placeholder="type the address"></td>
                    <td><input type="text" id="needAddress2" placeholder="type the address"></td>
                </tr>
            </tbody>
        </table>
        <button class="btn waves-effect waves-light h4us-btn-float-right" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>