body{
  margin: 0;
  padding: 0;
}

h1{
  margin: 0;
  padding: 0;
}

body {
  background: lemonchiffon;
  margin: 0%;
  padding: 0%;
}
/* nav.navbar-material {
  background: green;
  border: none;
  box-shadow: none;
} */
.navbar-material .nav-wrapper {
  background: rgb(55, 83, 52);
  /* margin: 20px; */
  width: 100% !important;
  height: 100px;
}
.navbar-material .nav-wrapper > ul > li > a {
  color: white;
} 
.navbar-material .nav-wrapper .logo img { 
  height: 100px;
 
  
} 
.navbar-material .nav-wrapper .button-collapse i {
  color:white;
}
/* @media (max-width: 900px) {
  .navbar-material .nav-wrapper .logo img {
    height: 56px;
  } */

/* .nav-wrapper  {
  width: 1955px;
} */
a {
  text-align: center;
} 
.logo img {
  padding:0%;
  margin: 0%;
  float: right;

}
.a-only {
  margin-top: -45px;
}
/* img {
  float: right;
} */
.nav-wrapper {
  width: 100% !important;
}